h1{
	text-align: center;
	text-decoration: underline;
}

table{
	margin: auto;
}

td{
	width: 100px;
	height: 100px;
}

.vertical{
	border-left: 1.5px solid black;
	border-right: 1.5px solid black;
}

.horizontal{
	border-top: 1.5px solid black;
	border-bottom: 1.5px solid black;
}

td:hover {
		border: 1px solid grey;
	}